$primaryfont: 'DM Serif Display', serif;

$primaryColor: #0C70F2;
$secondaryColor: #1D1D1D;
$tertiaryColor: #F6F6F6;

$heading1: 50px;
$heading1: 35px; 
$heading1: 25px;
$heading1: 22px;
$heading1: 20px;
$heading1: 18px; 